<footer class="text-light py-4">
  <div class="container">
    <div class="row">
      <!-- Sobre -->
      <div class="col-md-4">
        <h5>Sobre Nós</h5>
        <p>
          Somos especialistas em segurança monitorada, comprometidos em oferecer soluções tecnológicas inovadoras para proteger o que é mais importante para você.
        </p>
      </div>

      <!-- Links Rápidos -->
      <div class="col-md-4">
        <h5>Links Rápidos</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-light text-decoration-none">Home</a></li>
          <li><a href="/about" class="text-light text-decoration-none">Sobre</a></li>
          <li><a href="/services" class="text-light text-decoration-none">Serviços</a></li>
          <li><a href="/contact" class="text-light text-decoration-none">Contato</a></li>
        </ul>
      </div>

      <!-- Redes Sociais -->
      <div class="col-md-4 text-center">
        <h5>Conecte-se Conosco</h5>
        <div>
          <a href="https://facebook.com" target="_blank" class="text-light me-3">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
          <a href="https://twitter.com" target="_blank" class="text-light me-3">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
          <a href="https://www.instagram.com/nacionalvigilanciaoficial/" target="_blank" class="text-light me-3">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
          <a href="wa.me/5581973285908" target="_blank" class="text-light">
            <i class="fab fa-whatsapp fa-2x"></i>
          </a>
        </div>
      </div>
    </div>

    <hr class="border-light my-4" />

    <div class="text-center">
      <p class="mb-0">&copy; 2024 Sua Empresa. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
