<IfModule mod_rewrite.c>
  RewriteEngine On

  # Defina o diretório base (mude conforme necessário)
  RewriteBase /

  # Permita acesso ao index.html
  RewriteRule ^index\.html$ - [L]

  # Redirecione qualquer requisição que não seja um arquivo ou diretório existente para index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
