:root {
  --primary-color: #010E74;
  --secondary-color: #FFCC00;
  --success-color: #019934;
}

h2, h3 {
  color: var(--primary-color);
}

.card {
  border: none;
}

/* Garantir espaçamento adequado entre seções */
.container-fluid > div {
  margin-bottom: 2rem; /* Espaço entre os blocos */
}

.text-center img {
  max-width: 100%;
  height: 60rem; /* Mantém a proporção */
}

/* Ajustes no carrossel para centralizar imagens */
.carousel-inner img {
  margin: 0 auto; /* Centraliza as imagens */
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Proporção 16:9 */
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz o vídeo preencher todo o espaço */
}
