:root {
  --primary-color: #010E74;
  --secondary-color: #FFCC00;
  --success-color: #019934;
}

h2, h3 {
  color: var(--primary-color);
}

.card {
  border: none;
}

/* Garantir espaçamento adequado entre seções */
.container-fluid > div {
  margin-bottom: 2rem; /* Espaço entre os blocos */
}

img {
  max-width: 100%;
  height: 40rem; /* Mantém a proporção */
}

/* Ajustes no carrossel para centralizar imagens */
.carousel-inner img {
  margin: 0 auto; /* Centraliza as imagens */
}


